/* shared styles*/
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Space Mono', monospace;
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
}

.primary {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.pink-text {
    color: #FF42A5;
}

.btn-primary {
    border-radius: 30px;
    padding: 0.6rem 1.2rem;
    border: 0;
    outline: 0;
    color: #FFF;
    font-size: 1rem;
    font-weight: 600;
    text-transform: uppercase;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

/* nav raleted style */
nav {
    position: fixed;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 100px;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.logo {
    display: flex;
    align-items: center;
}

.logo div {
    width: 80px;
}

.logo img {
    width: 90%;
}

.logo h1 {
    font-size: 3rem;
    padding-left: 1rem;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li a {
    padding: 20px;
    color: #3C354F;
    font-size: 1rem;
    font-weight: 500;
}

.follow-item {
    border-radius: 8px;
    padding: 1rem 1rem;
    background: rgba(11, 2, 35, 0.10);
}

nav ul li a i {
    padding-left: 10px;
}

.fa-youtube {
    color: #c4302b;
}

.fa-tiktok {
    color: #130408;
}



/* banner related styles */
.banner {
    padding: 100px 0px;
    /* margin-top: 100px; */
    display: flex;
    justify-content: space-between;
}

.banner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    /* height: 100vh; */
    background-image: url('./images/Group\ 14.png');
    /* background-color: #0B0223; */
    background-repeat: no-repeat;
    background-size: contain;
}

.banner-title {
    font-size: 4rem;
    font-weight: 800;
    line-height: normal;
}

.banner-content li {
    padding: 5px;
}

.second-btn {
    background: #4EC5F7;
}

.banner-img {
    width: 50%;
}

.banner-img img {
    width: 80%;
}

/* gamer section start */
.gamer-container {
    height: 80vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    height: 600px;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
}

.gamer-img {
    width: 50%;
}

.gamer-img img {
    width: 100%;
}

.gamer-content {
    width: 450px;
}

.gamer-content h1 {
    font-size: 2rem;
    text-align: right;
}

.gamer-content p {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.gamer-content button {
    position: relative;
    left: 19.5rem;
    top: 1rem;
}

.gamer-content h2 {
    text-align: right;
    color: #534C64;
}

/* online-game-styles */
.online-game-title {
    text-align: center;
    color: #0B0223;
    font-size: 2rem;
    margin-top: 20px;
    font-weight: 700;
    padding-top: 1.5rem 0 1rem 0;
}

.online-game-description {
    color: #534C64;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 25px;
}

.cart-container {
    display: flex;
    padding: 0 100px;
    justify-content: space-evenly;
    gap: 10px;
}

/* .cart {
    width: 20%;
    position: relative; 
}

.cart img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1;
    transition: 0.3s;
} */

/* .cart p {
    color: #534C64;
    font-size: 1rem;
    font-weight: 500;
}
.play-icon{
    display: none;
    position: absolute;
    top: 0;
    text-align: center;
    border-radius: 9px;
    padding: 50% 40% 69%;
    background-color: #3c354fcb;
    border: 1px solid #FF42A5;
    
}

.play-icon i{
    border: 1px solid white;
    padding: 7px;
    border-radius: 50%;
    background-color: aliceblue;
    transition: 0.5s;
}

.play-icon p{
    color: #F948B2;
}


.cart:hover .play-icon{
    display: block;
} */





/* play-instantly-container styles */

.play-instantly {
    position: relative;
    padding: 100px 0;
}

.play-instantly-container {
    height: 80vh;
    padding: 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.play-instantly-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
}

.play-instantly-content h1 {
    text-align: right;
    font-size: 2rem;
    font-weight: 700;

}

.play-instantly-content p {
    color: #534C64;
    text-align: right;
    font-size: 1rem;
    padding: 10px;
    font-weight: 400;
    line-height: 1.2rem;
}

.play-instantly-img {
    width: 100%;
    height: 60vh;
}

.play-instantly-img img {
    width: 100%;
    height: 400px;

}

.play-instantly-pic {
    position: absolute;
    top: 65%;
    right: 43%;
    width: 150px;
}

/* Career-container styles*/
.Career-container {
    display: flex;
    background-color: #F948B2;
    margin: 150px 0;
}

.Career-content {
    width: 50%;
    padding: 70px 30px 50px 120px;
}

.Career-content h2 {
    color: #FFF;
    font-size: 2rem;
    font-weight: 700;
    padding: 15px 0;
}

.Career-content p {
    color: #FFF;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 20px;
}

.Career-content ul {
    padding-top: 40px;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
}

.Career-content button {
    color: #FF42A5;
    padding: 0.8rem 1rem;
    border-radius: 48px;
    background: #FFF;
    font-weight: 600;
    border: 0;
    outline: 0;
}

.career-img {
    width: 50%;
}

.career-img img {
    width: 100%;
}

.career-div {
    display: flex;
}

.career-div .ul-2 {
    text-align: right;
}

/* games-ad-container styles */

.games-ad-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0 100px;
    padding-bottom: 50px;
    justify-content: center;
}

.games-ad-container button {
    display: flex;
    align-items: center;
    background: transparent;
    border-color: transparent;
    padding: 5px;
    margin: 10px;
    transition: ease-out 0.3s;
}

.games-ad-container button img {
    width: 50px;
    padding-left: 10px;
    padding-right: 10px;
}

.games-ad-container button:hover{
    border-color: #FF42A5;
    border-radius: 40px;
    color: #FF42A5;
}
/* footer related styles */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 60vh;
    background-color: #0B0223;
    color: #FFF;
}

.footer-img {
    display: flex;
    justify-content: center;
}

footer ul {
    display: flex;
    padding: 2rem;
    justify-content: center;
}

footer ul li a {
    color: #FFF;
    font-size: 0.8rem;
    padding: 1rem;
}

footer i {
    font-size: 2rem;
    padding: 1rem;
}

.Privacy ul li {
    display: flex;
    padding: 1rem  ;
    color: #534C64;
}



/* footer p a {
    padding: 1.8rem 1.5rem;
    color: rgba(255, 255, 255, 0.452);
    font-weight: 500;
   
} */

.copyright {
    color: rgba(255, 255, 255, 0.253);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
   /* padding: 250px; */
}

.hidden{
    display: none;
}

.box{
    width: 22%;
    height: 350px;
  
}
.box p{
    padding: 10px;
}

.box div{
    height: 295px;
    display: flex;justify-content: center;
    align-items: center;
    background-color: #0B0223;
    border-radius: 10px;
    color: #4EC5F7;
    flex-direction: column;
   
}

.box div img{
    width: 100%;
    transition: 0.3s;
    
}

.box div img:hover{
    opacity: 0.5;
}

/* small screen devices */
@media screen and (max-width: 576px) {
    nav{
        flex-direction: column;
        padding:20px 0px;
        padding-bottom: 30px;
    }
    nav ul{
        flex-direction: column;
        width: 60%;
        margin-left: -50px;
    }
    nav ul li{
        padding: 10px 0px;
    }
    nav ul li a i{
        padding-left: 5px;
    }

    .logo{
        width: 70%;
        margin-left: -10px;
    }
    .logo h1{
        font-size: 2rem;
    }

    .banner{
        flex-direction: column-reverse;
        padding: 300px 10px 0 10px;
    }
    .banner-img{
        width: 120%;
    }
    .banner-content{
        width: 100%;
        margin-top: 30px;
    }

    /* gamer section */
    .gamer-container{
        flex-direction: column;
        padding: 30px;
    }
    .gamer-img{
        width: 100%;
    }
    .gamer-content{
        padding: 25px;
    }
    .gamer-content h1{
        text-align: center;
    }
    .gamer-content p{
        text-align: center;
        padding: 0 20px;
    }
    /* cart container */
    .cart-container{
        flex-direction: column;
        padding: 0 20px; 
    }
    .box{
        width: 100%;
        margin: 60px 0;
    }
    .box div{
        width: 97%;
        height: 400px;
        background-color: #c4302b;
    }
    .box div img{
        width: fit-content;
    }

    .cart p{
        width: 400%;
    }

    /* .play-instantly-container */
    .play-instantly{
        padding: 10px 5px;
    }

    .play-instantly-img{
        width: 100%;
    }

    .play-instantly-img img{
        width: 80%;
        padding-left: 80px;
    }
    .play-instantly-container{
        flex-direction: column;
        justify-content: center;
        width: 100%;
        padding: 0;
        margin-top: 40px;
    }
    .play-instantly-content h1{
        width: 100%;
        text-align: center;
    }
    .play-instantly p{
        line-height: 1.5rem;
    }

    .play-instantly-pic{
        left: 0;
        right: 0;
    }
    /* games-ad-container */
    .games-ad-container{
        display: grid;
        margin-top: 40px;
        grid-template-columns: repeat(3, 120px);
    }

    /* footer section */
    footer ul{
        display: grid;
        grid-template-columns: repeat(3, 120px);
        font-size: 12px;
    }
    footer ul li{
        padding: 10px 0;
    }

     .privacy{
        grid-template-columns: repeat(2, 50px);
    }
}

/* tablte device */
@media screen and (min-width:576) and (max-width:922) {
    .cart-container{
        grid-template-columns: repeat(2, 40%);
    }
}

